<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <style>
    .success{
      color : green;
    }
    .field_error{
      color : red;
    }
    </style>
  </head>
  <body>
    <h2>Signup form</h2>
    <form action="" method="POST" novalidate>
      {% csrf_token %}
      
      {% for fm in form %} 
      {{fm.label_tag}} {{fm}}
      {{fm.errors|striptags}} <br><br>
      {% endfor %}

      {% if form.non_field_errors %} 
      {% for error in form.non_field_errors %} 
      <p class="field_error">{{error}} </p> 
      {% endfor %} 
      {% endif %}
     
      <input type="submit" value="signup" />
    </form>
    <a href="{% url 'login' %}"> Login</a> <br><br>
    
    
    {% if messages %}
    {% for message in messages %}
     <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
    
  </body>
</html>
